{#-
  Render Apache HTTPD Listen directives.
  This file is included by the main config via "Include ports.conf".
-#}
{%- set main_config_baseline_manage = tpl_main_config_baseline_manage | ansible.builtin.default(true) -%}
{%- set modules_enabled = tpl_modules_enabled | ansible.builtin.default([]) -%}
# {{ ansible_managed }}

{% if main_config_baseline_manage == true %}
Listen 80

{% if 'ssl' in modules_enabled %}
<IfModule ssl_module>
    Listen 443
</IfModule>
{% endif %}
{% endif %}
